<app-navbar></app-navbar>
<div>
    <br><br>
    <td><button type="button" class="btn btn-primary" (click)="navigate($event)" *ngIf="auditor">New Invoice</button></td>
    <br>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr style="text-align: center; width: 100%;">
            <td style="font-size: large; font-weight: bold;">Invoices Tables</td>
        </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Total</th>
        <th scope="col">Date</th>
        <th scope="col">User</th>
        <th scope="col">attachment type</th>
        <th scope="col">attachment path</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of allInvoicesList">
        <th scope="row">{{invoice.id}}</th>
        <td>{{invoice.invoiceType}}</td>
        <td>{{invoice.invoiceTotal}}</td>
        <td>{{invoice.invoiceDate}}</td>
        <td>{{invoice.user.firstName}}{{invoice.user.lastName}}</td>
        <td>{{invoice.fileType}}</td>
        <td>{{invoice.filePath}}</td>

        <td scope="col"><button type="button" class="btn btn-dark" (click)="previwItem($event)">Preview {{invoice.id}}</button></td>
        <td scope="col"><button type="button" class="btn btn-warning" *ngIf="auditor">Edit {{invoice.id}}</button></td>
        <td scope="col"><button type="button" class="btn btn-danger" *ngIf="auditor" (click)="deleteInvoice($event)">Delete {{invoice.id}}</button> </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" *ngIf="paginator>0" (click)="getItemsPreviousPaginated()" >Previous</a></li>
      <li class="page-item"><a class="page-link" (click)="getItemsNextPaginated()">Next</a></li>
    </ul>
  </nav>